<div id="about" class="webpage_section">
    <div class="container">
        <div class="heading" data-aos="fade-up">about</div>
        <div class="about-box">
            <div class="section section1" data-aos="fade-up">
                <div class="circle one"></div>
                <img src="<?php echo $about_imglink; ?>" alt="">
                <div class="circle two"></div>
            </div>
            <div class="section section2" data-aos="fade-up">
                <?php echo $about_paragraph; ?>
            </div>
        </div>
    </div>
</div>