<div id="home" class="webpage_section">

    <div class="video-container">
        <video poster="./assets/img/poster.png" src="assets/img/3d_ocean.mp4" muted autoplay loop></video>
    </div>

    <div class="big-container">
        <div class="container">
            <div class="header" data-aos="fade-up">
                <div class="logo">
                    <img src="assets/img/logo.png" alt="">
                    <span>KHS Services</span>
                </div>

                <ul class="nav" data-aos="fade-up">
                    <li class="home" class="active"><a href="#home"><i class="ri-home-line"></i>Home</a></li>
                    <li class="about"><a href="#about"><i class="ri-information-line"></i>About us</a></li>
                    <li class="services"><a href="#services"><i class="ri-service-fill"></i>Services</a></li>
                    <li class="gallery"><a href="#gallery"><i class="ri-gallery-line"></i>Gallery</a></li>
                    <li class="review"><a href="#review"><i class="ri-star-line"></i>Reviews</a></li>
                    <li class="clients"><a href="#clients"><i class="ri-user-line"></i>Clients</a></li>
                    <li class="contact"><a href="#contact"><i class="ri-phone-line"></i>Contact us</a></li>
                    <li class="close"><a><i class="ri-close-line"></i>Close</a></li>
                </ul>

                <div class="bar" id="bar"><i class="ri-menu-3-line"></i></div>
            </div>

            <div class="hero">
                <h1 data-aos="fade-up">
                    <?php echo $home_heading; ?>
                    <span class="highlight"><?php echo $home_heading_highlight; ?></span>
                </h1>
                <p>
                    <?php echo $home_paragraph; ?>
                </p>
                <button><a href="./enquiry">Enquiry</a></button>
            </div>

            <div class="shades" data-aos="fade-up">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </div>
        </div>
    </div>
</div>